player-connection-mode=Listen
player-connection-guid=763751822
player-connection-debug=1
player-connection-project-name=Trench Game (V2)
player-connection-ip=192.168.87.102
wait-for-native-debugger=0
wait-for-managed-debugger=0
managed-debugger-fixed-port=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=92a69463a62749a7b3fc9de3c7084d30
